Датасет болезней сердца содержит информацию о пациентах и переменную предсказания target — наличие у пациента болезни сердца.

Датасет содержит следующие признаки:

age — возраст
sex — пол (1 - мужчина, 0 - женщина)
cp — тип боли в груди (4 значения)
trestbps — артериальное давление в покое
chol — холестерин сыворотки в мг/дл
fbs — уровень сахара в крови натощак > 120 мг/дл
restecg — результаты электрокардиографии в покое (значения 0,1,2)
thalach — достигнута максимальная частота сердечных сокращений
exang — стенокардия, вызванная физической нагрузкой
oldpeak — депрессия ST, вызванная физической нагрузкой, по сравнению с состоянием покоя
slope — наклон пикового сегмента ST при нагрузке
ca — количество крупных сосудов (0-3), окрашенных при флюроскопии
thal — дефект, где 3 = нормальный; 6 = фиксированный дефект; 7 = обратимый дефект

In [6]:
import pandas as pd
heart = pd.read_csv('heart.csv')
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
 14  old       303 non-null    int64
dtypes: float64(1), int64(14)
memory usage: 35.6 KB

Задание 8.1

Создайте новый признак old, где 1 — при возрасте пациента более 60 лет.

В ответ введите результат выполнения кода heart['old'].sum().

In [7]:
# создать новый бинарный признак old и присвоить ему 1 в случае, при возрасте пациента более 60 лет, иначе — 0
heart['old'] = heart['age'].apply(lambda x: 1 if x > 60 else 0)
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0

In [8]:
print(heart['old'].sum())

79

Задание 8.2

Создайте новый признак trestbps_mean, который будет обозначать норму давления в среднем для его возраста и пола. trestbps — систолическое артериальное давление в состоянии покоя.

Информацию о среднем давлении для возраста и пола возьмите из этой таблицы. В таблице систолическое давление написано первым, перед дробной чертой.

Возраст Мужчины	Женщины
 (лет)	
до 20	123/76	116/72
21-30	126/79	120/75
31-40	129/81	127/80
41-50	135/83	137/84
51-60	142/85	144/85
61 и    142/80	159/85
старше	
В ответ напишите значение признака trestbps_mean для пациента под номером 300.

In [14]:
def get_trestbps(row):
    if row['sex'] == 1:
        if row['age'] <= 20:
            return  '123'
        elif row['age'] > 20 and row['age'] <= 30:
            return  '126'
        elif row['age'] > 30 and row['age'] <= 40:
            return  '129'
        elif row['age'] > 40 and row['age'] <= 50:
            return  '135'
        elif row['age'] > 50 and row['age'] <= 60:
            return  '142'
        return  '142'
    else:
        if row['age'] <= 20:
            return  '116'
        elif row['age'] > 20 and row['age'] <= 30:
            return  '120'
        elif row['age'] > 30 and row['age'] <= 40:
            return  '127'
        elif row['age'] > 40 and row['age'] <= 50:
            return  '137'
        elif row['age'] > 50 and row['age'] <= 60:
            return  '144'
        return  '159'
        
heart['trestbps_mean'] = heart[['sex','age']].apply(get_trestbps, axis=1)
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target,old,trestbps_mean
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,1,142
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0,129
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0,137
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0,142
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0,144

Данный код выполняет следующие действия:

1. Определяется функция `get_trestbps`, которая принимает строку (запись) из датафрейма `heart` в качестве аргумента.

2. Внутри функции проверяется значение пола пациента (`row['sex']`). Если пол равен 1 (мужчина), то выполняются условия для мужчин, иначе (пол не равен 1, то есть женщина) выполняются условия для женщин.

3. В каждом условии проверяется возраст пациента (`row['age']`) и возвращается соответствующее значение систолического давления в формате "верхнее/нижнее значение" (например, "123/76").

4. После определения функции `get_trestbps`, она применяется к столбцам 'sex' и 'age' датафрейма `heart` с помощью метода `apply` и параметра `axis=1`. Это означает, что функция будет применяться построчно (для каждой записи) вдоль оси 1 (горизонтальная ось).

5. Результат применения функции `get_trestbps` для каждой строки записывается в новый столбец 'trestbps_mean' датафрейма `heart`.

In [15]:
heart.loc[300, 'trestbps_mean']

'142'