In [1]:
import pandas as pd

df_2 = pd.read_csv('data/students_performance.csv', sep=',')
df_2.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

gender — пол;   
race/ethnicity — раса/этническая принадлежность;    
parental level of education — уровень образования родителей;    
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);  
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);  
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

9.1 Данные о скольких студентах содержатся в таблице?

In [11]:
df_2.shape[0]

1000

9.2 Каков балл по письму у студента под индексом 155?

In [3]:
df_2.loc[155, 'writing score']

88

9.3 Сколько суммарно пропущенных значений в таблице?    
9.4 Сколько столбцов в таблице имеет тип данных object?     
9.5 Какой объём памяти (в килобайтах) занимает таблица?

In [12]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

9.6 Каков у студентов средний балл по математике?

In [5]:
int(df_2['math score'].mean())

66

9.7 Какая расовая группа является самой крупной в учебном заведении?
В качестве ответа введите идентификатор группы (A, B, C, D, E).

In [6]:
df_2['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

9.8 Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?    
Округлите ответ до целого числа.

In [13]:
round(df_2[df_2['test preparation course'] == 'completed']['reading score'].mean())

74

9.9 Сколько студентов получили 0 баллов по математике?

In [7]:
df_2[df_2['math score'] == 0].shape[0]

1

9.10 Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.  
В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.    
Округлите ответ до целого числа.

In [14]:
round(df_2[df_2['lunch'] == 'free/reduced']['math score'].mean())

59

In [15]:
round(df_2[df_2['lunch'] == 'standard']['math score'].mean())

70

9.11 Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?    
Округлите ответ до целого числа.    
Не указывайте знак %.

In [9]:
df_2["parental level of education"].value_counts(normalize=True)

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64

9.12 Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?   
Округлите ответ до целого и запишите модуль этого числа.

In [10]:
a = df_2[df_2['race/ethnicity'] == 'group A']['writing score'].median()
b = df_2[df_2['race/ethnicity'] == 'group C']['writing score'].mean()
print(round(abs(a - b)))

6