Данные, с которыми мы будем работать — это обработанный датасет об объектах недвижимости в Мельбурне (Австралия) и его пригородах.

Данные представляют собой таблицу, в которой содержится 23 столбца:

1. index — номер строки    
2. Suburb — наименование пригорода 
3. Address — адрес 
4. Rooms — количество комнат в помещении   
5. Type — тип здания (h — дом, коттедж, вилла, терраса; u — блочный, дуплексный дом; t — таунхаус) 
6. Price — цена помещения  
7. Method — метод продажи  
8. SellerG — риэлторская компания  
9. Date — дата продажи (в формате день/месяц/год)  
10. Distance — расстояния до объекта от центра Мельбурна     
11. Postcode — почтовый индекс  
12. Bedroom — количество спален 
13. Bathroom — количество ванных комнат 
14. Car — количество парковочных мест   
15. Landsize — площадь прилегающей территории   
16. BuildingArea — площадь здания   
17. YearBuilt — год постройки   
18. CouncilArea — региональное управление   
19. Lattitude — географическая широта   
20. Longitude — географическая долгота  
21. Regionname — наименование района Мельбурна  
22. Propertycount — количество объектов недвижимости в районе, выставленных на продажу  
23. Coordinates — широта и долгота, объединённые в кортеж

In [2]:
import pandas as pd
melb_data = pd.read_csv('data/melb_data.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

Какова цена объекта недвижимости под индексом 15?

In [4]:
melb_data.iloc[15, 5]

1310000.0

Когда был продан объект под индексом 90?

In [5]:
melb_data.iloc[90, 8]

'10/09/2016'

Во сколько раз площадь прилегающей территории, на которой находится здание с индексом 3521, больше площади участка, на котором находится здание с индексом 1690? Ответ округлите до целого числа.

In [6]:
round(melb_data.loc[3521, 'Landsize'] / melb_data.loc[1690, 'Landsize'])

3